# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# Vite
.vite/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.cache/