@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


@font-face {
  font-family: "Soehne";
  src: url("./assets/fonts/Soehne.otf");
}

body {
  font-family: "Soehne", sans-serif;
}


.font-soehne{
 font-family:"Soehne",sans-serif;
}